[Desktop Entry]
Type=Application
Exec=$path/workspaces.bash
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
X-GNOME-Autostart-Delay=0
Name[en_US]=Workspaces
Comment[en_US]=Changes desktop icons based on workspace
Icon=workspace-overview
#~ AutostartCondition=GSettings org.nemo.desktop desktop-layout org.gnome.desktop.background show-desktop-icons
